*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://t3.ftcdn.net/jpg/08/60/49/00/360_F_860490078_2emFlcNqj87Ew02xbYmduVboCPVRGNgp.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 2rem;
}
header h1 span{
    font-family:cursive;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.card-container .card{
    font-size: 25px;
    width: fit-content;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}
.card-container .gold-card{
  background-color: gold;
  color: white;
  transition: 0.4s ease-in;
}
.card-container .silver-card{
  background-color: grey;
  color: white;
  transition: 0.4s ease-in;
}
.card-container .regular-card{
   background-color: whitesmoke;
   color: black;
   transition: 0.4s ease-in;
}
 .selected-card{
    transform: scale(1.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.options-contianer{
    background-color: rgba(210, 208, 208, 0.7);
    margin: 2rem auto;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    color: rgba(0, 0, 0, 0.8);
}
.options-contianer label{
    font-size: 25px;
    font-weight: 600;
    padding: 10px 4px;
}
.options-contianer .select-option{
    padding: 10px 3px;
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    opacity: 0.8;
    border-style: none;
}
.options-contianer .input{
    padding: 10px 3px;
    border-style: none;
    font-size: 20px;
    font-weight: 500;
    background-color: whitesmoke;
    opacity: 0.8;
}
.options-contianer .addon{
    padding: 10px;
    display: flex;    
    flex-direction: column;
    gap: 3px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.8);
}
.options-contianer .check{
    display: inline;
    width: 18px;
    height: 18px;
}
.options-contianer .calcualte-button{
    background-color: rgba(99, 32, 32,0.8);
    color: aliceblue;
    font-size: 20px;
    padding: 10px 3px;
    border-style: none;
    border-radius: 8px;
}
.result-container{
    background-color: rgba(210, 208, 208, 0.7);
    margin: 2rem auto;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: rgba(0, 0, 0, 0.8);
}
.result-container p{
    font-size: 25px;
    margin-bottom: 1rem;
}
.result-container h2{
    text-align: center;
    font-size:30px;
    font-weight: 600;
    margin-bottom:1rem ;
}
.result-container .print-button{
    background-color: rgba(99, 32, 32,0.8);
    color: aliceblue;
    font-size: 20px;
    padding: 10px 3px;
    border-style: none;
    border-radius: 8px;
    width: 100%;
}